body { margin: 0; }

#header {
    background-color: #00d123;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}
#header > h1 {
    margin: 0;
}

#main {
    background-color: #242a25;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    padding: 5.5rem 0 4rem;
}
#messages {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: .5rem 2.5rem;
    gap: .5rem;
}
#messages > li {
    background-color: #373e38;
    color: #FFF;
    padding: .75rem;
    border-radius: .25rem;

    min-width: 10rem;
    width: fit-content;
    max-width: 95%;
}
#messages > li.self {
    background-color: #1cd03a;
    margin-left: auto;
}

#form {
    background-color: #141615;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    gap: .75rem;
    padding: .75rem .5rem;
}
#input {
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    width: 100%;
    background-color: #555f57;
    color: #FFF;
}
#input:focus {
    outline: none;
}
#form > button {
    width: 5rem;
    margin-right: 1rem;
    background-color: #00d123;
    color: #FFF;
    font-weight: 800;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
}
#form > button:hover {
    background-color: #008a17;
}

